body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('salon-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
}

.card-title, .card-text {
    color: #343a40;
}

.card:hover .card-title, .card:hover .card-text {
    color: #4CAF50; 
}
.bg-blue{
    background: blue;
}